@media screen and (max-width: 1175px) {
	.slider::before {
		left: 20px;
		right: 20px;
	}
}

@media screen and (max-width: 917px) {
	.header__column--left {
		width: 30%;
	}

	.header__column--right {
	   -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
        justify-content: space-between;
		width: 56%;
	}

	.header-nav__item {
		margin-right: 0;
	}

	.slide__item .slide-image {
		max-width: 75%;
		-webkit-transition: max-width 0.3s linear;
			 -o-transition: max-width 0.3s linear;
				transition: max-width 0.3s linear;
	}

	.slide-title {
		font-size: 36px;
		line-height: 36px;
	}

	.slide-characteristics__item {
		margin-right: 50px;
	}

	#content section {
		padding-left: 50px;
	}

	.company__column:first-child p {
		padding-right: 0;
	}

	.md-content {
		padding: 50px 60px;
	}

	.md-content .md-close {
		top: 10px;
		right: 10px;
	}
	.md-content .form-group__column {
		width: 100%;
	}

	.md-content .form-group:first-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 1015px) {
	.catalog__item {
		-ms-flex-preferred-size: calc(33.33% - 50px * 4/5);
				     flex-basis: calc(33.33% - 50px * 4/5);
		max-width: none;
	}
}

@media screen and (max-width: 1024px) {
	.sort-by__title {
		display: none;
	}

	.product__wrap h2 {
		font-size: 16px;
	}
}

@media screen and (max-width: 1150px) {
	.product__wrap {
		   -webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		   -ms-flex-direction: column;
		       flex-direction: column;
		margin-top: 5px;
	}

	.product__wrap h2 {
		max-width: 100%;
		margin-bottom: 8px;
	}
}